.searchWrapper {
  position: relative;
  display: flex;
  height: 40px;
  .searchInput {
    width: 602px;
    height: 40px;
    padding: 0 12px;
    border: none;
    border-radius: 2px 0 0 2px;
    outline: none;
    &:focus ~ .dropDown {
      display: block;
    }
  }
  
  .searchBtn {
    background: #0d5cb6;
    height: 40px;
    width: 120px;
    color: #fff;
    font-weight: 550;
    font-size: 12px;
    line-height: 38px;
    border: none;
    border-radius: 0 2px 2px 0;
    cursor: pointer;
    &Icon {
      width: 20px;
      margin-bottom: -4px;
      margin-right: 8px;
    }
  }
  .dropDown {
    position: absolute;
    top: 110%;
    display: none;
    padding: 12px;
    border-radius: 2px;

    background: #fff;    
    z-index: 999;
    &::before {
      content: '';
      background: #000;
      width: 100vw;
      height: 100vh;
    }
    .keywordLink {
      text-decoration: none;
      display: flex;
      width: 602px;
      .icon {
        width: 35px;
        height: 35px;
      }
      .keyword {
        color: rgb(36, 36, 36);
        height: 36px;
        font-size: 13px;
        line-height: 1.67;
        text-decoration: none;
        font-weight: 500;
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        padding: 0px 16px;
        flex: 1 1 0%;
        padding: 0px 0px 0px 8px;
      }
    }
  }
}

