.wrapper {
  display: flex;
  justify-content: space-between;
  border-radius: 4px;
  background: #fff;
  padding: 16px 0;
  margin: 16px 0;
  .item {
    display: flex;
    // justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-basis: 103px;
    
    text-align: center;
    text-decoration: none;
    img {
      width: 48px;
      height: 48px;
    }
    span {
      font-size: 13px;
      width: 81px;
      color: #000;
      margin-top: 12px;
    }
  }
}