.header {
  background: #1a94ff;
  position: relative;
  height: 100px;
  z-index: 999;
  &Top {
    flex-wrap: nowrap;
    height: 40px;
    padding: 18px 0 8px 0;
    justify-content: space-between;
    &Left {
      display: flex;
      justify-content: space-between;
      height: 100%;
      flex-grow: 1;
    }
    &Right {
      display: flex;
      justify-content: space-around;
      margin-left: 15px;
    }
  }
  &Bottom {
    justify-content: space-between;
    align-items: center;
    &Left {
      display: flex;
      justify-content: space-between;
    }
  }
}