
.active0 {
  margin-left: 0;
}
.active1 {
  margin-left: -100%;
}
.active2 {
  margin-left: -200%;
}
.active3 {
  margin-left: -300%;
}
.active4 {
  margin-left: -400%;
}
.active5 {
  margin-left: -500%;
}
.active6 {
  margin-left: -600%;
}